
/*  INDEX PAGE  */
/*  HEADER SECTION  */
header{
  background-color: $color-primary;
  width: 100vw;
  height: 100vh;
  font-family: $font-stack;
  position: relative;
  overflow: hidden;
}

.h__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color:#47c0c2;
  position: absolute;
  top: 10vh;
  padding: 5vh 5vw;

  h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 600;
  }
  h3{
    font-size: 1rem;
    font-weight: 400;
    margin: .6rem 0 0;
  }
}


/*  AGENCY SECTION  */


.agency {
  position: relative;
  height: 105vh;
  display: grid;
  width: 100vw;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-template-rows: 20vw 70vw 15vw;
  grid-template-areas:
"name"
"image"
"button";
}
.a__name{
  position: absolute;
  grid-area: name;
  margin: 0;
  top: 5vh;
  left: 5vw;
  font-family: $font-stack;
  z-index: 10;
}

.a__name-text{


  h2{
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
  }
  h4{
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
  }
}

.a__image {
  grid-area: image;
  width: 100%;
  position: relative;
  z-index: 0;

  img {
    position: absolute;
    object-fit: cover;
    opacity: 1;
    top: 0;
  }
}

.button_block{
  grid-area: button;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.a__button{
  position: absolute;
  bottom: 10vh;
  padding: .8rem ;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 30vw;
  border: 2px solid;
  border-radius: 10px;

  a{
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-family: $font-stack;
    font-size: 1rem;
  }
}


#monica {
  background-color: $color-mo;

  .a__name{
    color: white;
  }

  .a__image {

    img {
      left: -10vw;
      width: 160%;
    }
  }
  .a__button{
    background-color: $color-mo;
    border-color:white;
    a{
      color: white;

    }
  }
}


#tp {
  background-color: white;

  .a__name{
    color: $color-tp;
    z-index: 1;
  }

  .a__image {
    z-index: 0;
    img {
      left: -0;
      width: 120%;
    }
  }
  .a__button{
    background-color: white;
    border-color:$color-tp;
    a{
      color: $color-tp;
      background-color: white;
    }
  }
}


#gmac {
  background-color: $color-gmac;

  .a__name{
    color: white;
  }

  .a__image {

    img {
      left: -15vw;
      width: 180%;
    }
  }
  .a__button{
    border-color:white;
    background-color: $color-gmac;
    a{
      color: white;

    }
  }
}


#aspen {
  background-color: white;
  .a__name{
    color: $color-aspen;
  }

  .a__image {
    top: 5vh;
    display: flex;
    justify-content: center;

    img {
      top: .5rem;
      width: 70%;
      box-shadow: 2px 2px 7px 3px #777;
    }
  }
  .a__button{
    border-color:$color-aspen;
    background-color: white;
    a{
      color: $color-aspen;

    }
  }
}


#iss {
  background-color: $color-iss;

  .a__name{
    color: white;
  }

  .a__image {
    top: 25vh;
    width: 100%;
    margin: 0 auto;
    z-index: 0;

    img {
      left: -20vw;
      width: 160%;
      object-position: 50% 50%;
    }
  }
  .a__button{
    background-color: $color-iss;
    border-color:white;
    a{
      color: white;
    }
  }
}




/*  END OF SMART PHONE  */
@media screen and (min-width : 480px) {


  #monica {
    .a__image {


    img {
      left: 0;
      width: 130%;
    }
  }
}
  #tp{
    .a__image {
      img {
        width: 95%;
      }
    }
  }
  #gmac{
    .a__image {

      img {
        left: 0;
        width: 140%;
      }
    }
  }
  #aspen{
    .a__image {
      top: 0;

      img {
        width: 60%;
      }
    }
  }
  #iss{
    .a__image {
      top: 15vh;

      img {
        left: -10;
        width: 130%;
      }
    }
  }



  /*  END 480  */
}

/*  END OF SMART PHONE  */
@media screen and (min-width : 600px) and (orientation : landscape) {

  .agency {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "name image"
      "button image";
  }
  .a__name{
    align-self: end;
    top: unset;
    left: 5vw;
  }

  .a__button{
    bottom: unset;
    left: 5vw;
    margin-top: 1rem;
    justify-content: center;
    z-index: 1;
    width: 15vw;
  }
  #monica {
    .a__image {
      top: 20vh;
      left: 10vh;
      align-self: flex-start;


      img {
        left: 0;
        width: 100%;
      }
    }
  }
  #tp{
    .a__image {
      left: 20vw;
      img {
        width: 65%;
      }
    }
  }
  #gmac{
    .a__image {
      left: 10vw;
      top: 5vh;

      img {
        left: 0;
        width: 110%;
      }
    }
  }
  #aspen{
    .a__image {
      align-self: start;
      top: 10vh;

      img {
        width: 40%;
      }
    }
  }
  #iss{
    .a__image {
      top: -18vh;
      align-self: center;

      img {
        left: 0;
        width: 100%;
      }
    }
  }





  /*  END OF 720  */
}



/*  END OF SMART PHONE  */
@media screen and (min-width : 1024px) and (orientation : landscape) {

  #monica {
    .a__image {


      img {
        left: 10vw;
        width: 80%;
      }
    }
  }
  #tp{
    .a__image {
      img {
        width: 55%;
      }
    }
  }
  #gmac{
    .a__image {
      top: 8vh;

      img {
        left: 0;
        width: 80%;
      }
    }
  }
  #aspen{
    .a__image {
      top: 7vh;

      img {
        width: 33%;
      }
    }
  }
  #iss{
    .a__image {
      top: -10vh;

      img {
        left: 10vh;
        width: 80%;
      }
    }
  }



  /*  END OF 1024  */
}
