/*  FONTS  */
$font-stack: 'Raleway', sans-serif;

/*  COLORS  */
$color-primary: #1c5253;
$color-tp: #0075b0;
$color-mo: #22577a;
$color-gmac: #004f2d;
$color-iss: #01479F;
$color-aspen: #004f2d;

body {
  margin: 0;
  padding: 0;
}


